/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* risque-regular - latin */
@font-face {
  font-family: 'Risque';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/risque-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/risque-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  font-family: 'Risque';
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  background: #141429;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}

/* ==================================== Header Start ==================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0 0 0;
}
.header-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header-menu__list {
  display: flex;
  list-style: none;
}
.header-menu__item {
  height: 1em;
  overflow: hidden;
  margin-left: 60px;
}
.header-menu__item:first-child {
  height: 1em;
  margin-left: 0;
  overflow: hidden;
}
.header-menu__link {
  display: block;
  text-decoration: none;
  font-family: 'Roboto';
  color: #ffffff;
  transition: all 0.2s linear;
}
.header-menu__link:hover, .header-menu__link:focus, .header-menu__link:active {
  transform: translateY(-1em);
}
.header-menu__link p {
  margin: 0;
}
.link-red {
  color: #D02B2B;
}
/* ==================================== Header End ==================================== */