/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* risque-regular - latin */
@font-face {
  font-family: 'Risque';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/risque-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/risque-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  font-family: 'Risque';
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  background: #141429;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}

/* ==================================== Header Start ==================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0 0 0;
}
.header-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.burger-background {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: translate(50%, -50%);
  background: #D02B2B;
  z-index: -1;
  transition: all .4s ease 0s;
}
.burger-btn-open {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  padding: 18px 14px;
  background: #D02B2B;
  border-radius: 50% 0 50% 50%;
  box-shadow: 4px 8px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  scale: 0;
  z-index: 10;
}
.burger-btn-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  padding: 18px 14px;
  cursor: pointer;
  z-index: 10;
  scale: 0;
}
.header-menu__list {
  display: flex;
  list-style: none;
}
.header-menu__item {
  height: 1em;
  overflow: hidden;
  margin-left: 60px;
}
.header-menu__item:first-child {
  margin-left: 0;
}
.header-menu__link {
  display: block;
  text-decoration: none;
  font-family: 'Roboto';
  color: #ffffff;
  transition: all 0.2s linear;
}
.header-menu__link:hover, .header-menu__link:focus, .header-menu__link:active {
  transform: translateY(-1em);
}
.header-menu__link p {
  margin: 0;
}
.link-red {
  color: #D02B2B;
}
/* ==================================== Header End ==================================== */

/* ==================================== Snowflake Start ==================================== */
.snowflake {
  width: 448px;
  height: 448px;
  position: absolute;
  left: -180px;
  bottom: 0;
  z-index: -2;
  overflow: hidden;
}
.snowflake img {
  animation: rotate-snowflake;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border-radius: 50%;
}
@keyframes rotate-snowflake {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ==================================== Snowflake End ==================================== */

/* ==================================== Santa Claus Start ==================================== */
.santa-claus {
  background-image: url('../img/santa-claus.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}
.santa-claus__bloks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}
.santa-claus__left-block {
  padding: 270px 0 50px 100px;
}
.santa-claus__title {
  margin: 0 0 46px 0;
}
.santa-claus__description {
  font-size: 2.4em;
  margin: 0 0 30px 0;
}
.santa-claus__btn {
  display: block;
  font-family: 'Roboto';
  padding: 12px 42px;
  background: none;
  color: #ffffff;
  border-radius: 20px 20px 20px 0;
  border: 2px solid #ffffff;
  cursor: pointer;
}
.santa-claus__btn:hover, .santa-claus__btn:focus, .santa-claus__btn:active {
  background: #ffffff;
  color: #141429;
  border: 2px solid #141429;
}
.santa-claus__arrow {
  margin: 0 0 50px 100px;
  cursor: pointer;
}
.arrow-down {
  transition: all .2s ease 0s;
}
.arrow-down:hover, .arrow-down:focus, .arrow-down:active {
  transform: translateY(10px);
}
.santa-claus__cloud {
  position: absolute;
  bottom: 200px;
  right: 510px;
  scale: 0;
  opacity: 0;
  transition: all .2s ease 0s;
}
.cloud-text {
  position: absolute;
  top: 40px;
  left: 40px;
  color: #000;
  font-size: 1.12em;
  scale: 0;
  opacity: 0;
  transition: all .2s ease .2s;
}
.santa-claus__cloud._active {
  scale: 1;
  opacity: 1;
}
.cloud-text._active {
  scale: 1;
  opacity: 1;
}
/* ==================================== Santa Claus End ==================================== */

/* ==================================== Media ==================================== */
@media (max-width: 767px) {
  .wrapper {
    max-width: none;
  }
  .header {
    padding: 30px 0 0 0;
  }
  .header-body {
    position: relative;
  }
  .logo {
    position: absolute;
    left: 0;
    top: 0;
  }
  .burger-open {
    width: 160vh;
    height: 160vh;
  }
  .burger-btn-open {
    scale: 1;
    transition: all .4s ease .2s;
  }
  .burger-btn-close {
    scale: 0;
    transition: all .4s ease 0s;
  }
  .burger-open-active {
    scale: 0;
    transition: all .4s ease 0s;
  }
  .burger-close-active {
    scale: 1;
    transition: all .4s ease .2s;
  }
  .header-menu {
    position: absolute;
    left: 50%;
    opacity: 0;
    transform: translate(0, -50%);
    transition: all .2s ease 0s;
  }
  .menu-active {
    transform: translate(-50%, 50vh);
    opacity: 1;
    transition: all .4s ease .1s;
  }
  .header-menu__list {
    display: block;
    padding: 0 0 0 0;
  }
  .header-menu__item {
    margin-left: 0;
    height: 2em;
    margin-bottom: 50px;
  }
  .header-menu__link {
    text-align: center;
    font-family: 'Risque';
    font-size: 2em;
  }
  .header-menu__link:hover, .header-menu__link:focus, .header-menu__link:active {
    transform: translateY(-1.2em);
  }
  .link-red {
    color: #141429;
  }
}