/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* risque-regular - latin */
@font-face {
  font-family: 'Risque';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/risque-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/risque-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  font-family: 'Risque';
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  background: #141429;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}

/* ==================================== Header Start ==================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0 0 0;
}
.header-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.burger-background {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: translate(50%, -50%);
  background: #D02B2B;
  z-index: -1;
  transition: all .4s ease 0s;
}
.burger-btn-open {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  padding: 18px 14px;
  background: #D02B2B;
  border-radius: 50% 0 50% 50%;
  box-shadow: 4px 8px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  scale: 0;
  z-index: 10;
}
.burger-btn-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  padding: 18px 14px;
  cursor: pointer;
  z-index: 10;
  scale: 0;
}
.header-menu__list {
  display: flex;
  list-style: none;
}
.header-menu__item {
  height: 1em;
  overflow: hidden;
  margin-left: 60px;
}
.header-menu__item:first-child {
  margin-left: 0;
}
.header-menu__link {
  display: block;
  text-decoration: none;
  font-family: 'Roboto';
  color: #ffffff;
  transition: all 0.2s linear;
}
.header-menu__link:hover, .header-menu__link:focus, .header-menu__link:active {
  transform: translateY(-1em);
}
.header-menu__link p {
  margin: 0;
}
.link-red {
  color: #D02B2B;
}
/* ==================================== Header End ==================================== */
/* ==================================== Media ==================================== */
@media (max-width: 767px) {
  .wrapper {
    max-width: none;
  }
  .header {
    padding: 30px 0 0 0;
  }
  .header-body {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .logo {
    position: absolute;
    left: 0;
    top: 0;
  }
  .burger-open {
    width: 150vh;
    height: 150vh;
  }
  .burger-btn-open {
    scale: 1;
    transition: all .4s ease .2s;
  }
  .burger-btn-close {
    scale: 0;
    transition: all .4s ease 0s;
  }
  .burger-open-active {
    scale: 0;
    transition: all .4s ease 0s;
  }
  .burger-close-active {
    scale: 1;
    transition: all .4s ease .2s;
  }
  .header-menu {
    position: absolute;
    left: 50%;
    opacity: 0;
    transform: translate(0, -100%);
    transition: all .2s ease 0s;
  }
  .menu-active {
    transform: translate(-50%, 0);
    opacity: 1;
    transition: all .4s ease .2s;
  }
  .header-menu__list {
    display: block;
    padding: 0 0 0 0;
  }
  .header-menu__item {
    margin-left: 0;
    height: 2em;
    margin-bottom: 50px;
  }
  .header-menu__link {
    text-align: center;
    font-family: 'Risque';
    font-size: 2em;
  }
  .header-menu__link:hover, .header-menu__link:focus, .header-menu__link:active {
    transform: translateY(-1.2em);
  }
  .link-red {
    color: #141429;
  }
}